<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oreo.DogMate">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/adopter_favorites"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bacground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".adopterSideActivities.dogsResultsAdopter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".adopterSideActivities.mySearchDogActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".adopterSideActivities.SearchMainMenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".adopterSideActivities.adopter_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".advertiserSideActivities.advertiserSettingsActivity" />
        <activity android:name=".Navigation.Adopter_Navigation" />
        <activity android:name=".Navigation.Advertiser_Navigation" />
        <activity
            android:name=".adopterSideActivities.dogWatchActivityAdopter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".advertiserSideActivities.WatchDogAdvertiserActivity" />
        <activity android:name=".advertiserSideActivities.addDogPicturesActivity" />
        <activity
            android:name=".adopterSideActivities.AdopterOrderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".adopterSideActivities.AdoptDogActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".adopterSideActivities.AdopterMenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".advertiserSideActivities.advertiserOrderActivity" />
        <activity
            android:name=".adopterSideActivities.Favorites"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".advertiserSideActivities.AddDogActivity" />
        <activity android:name=".Navigation.Register" />
        <activity
            android:name=".adopterSideActivities.SearchAdvertiserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".advertiserSideActivities.advertiserMenuActivity" />
        <activity
            android:name=".advertiserSideActivities.advertiserScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Navigation.Login" />
        <activity
            android:name=".adopterSideActivities.adopterScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Navigation.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>